<!DOCTYPE html>
<html>
	<head>
		<title>Habit Show</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
		<script src="https://code.jscharting.com/2.9.0/jscharting.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
		<style>
			#tbl_habit{
				width:90vw;
				margin: auto;
				margin-top: 10%;
				z-index: 10;
			}
			#header_title{
				width: 50vw;
				margin: auto;
				margin-top: -18%;
				margin-right: 22%;
				/* z-index: 10; */
				font-family: 'Pacifico', cursive;
				color:white;
				font-size:6vw;
			}
			#header_bgImage{
				z-index: -10;
				width: 100%;
				height: 25vw;
				border-style: outset;
				background-color: #63c5da;
			}

			#btn_home{
				margin-left: 39%;
				margin-top: 2%;
				color:#63c5da;
				background-color: white;
			}
			#btn_add{
				margin-left: 1%;
				margin-top: 2%;
				color:#63c5da;
				background-color: white;
			}

			#btn_chart{
				margin-top: 2vw;
				margin-left: 1%;
				color:#63c5da;
				background-color: white;
			}
		</style>
	</head>
	<body>
		<div>
			<div id="header_bgImage"></div>
			<center><h1 id="header_title">My Habit Tracker</h1></center>
			<button class="btn btn-default" id="btn_home" data-toggle="modal" data-target="habit/">Home</button>
			<button class="btn btn-default" id="btn_add" data-toggle="modal" data-target="#myModal">Add a New Habit</button>
			<input type="button" class="btn btn-default" id="btn_chart">
		</div>
		{% block content %}

		{% endblock %}
		<!-- The Modal -->
		<div class="modal" id="myModal">
		  <div class="modal-dialog">
		    <div class="modal-content">

		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Add a New Modal</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>

		      <!-- Modal body -->
		      <div class="modal-body">
	      		<label>Habit:</label>
	       		<input type="text" name="habit" id="habit" class="form-control">
	       		<label>Time:</label>
	       		<input type="time" name="Time" id="Time" class="form-control">
	       		<div style="display:inline-flex;margin-left: 5%;margin-top: 5%;">
	       			<div class="day_check">
	       				<label>Mon</label>
			       		<input type="checkbox" name="Mon" id="Mon" class="form-control" style="width:3vw;">
			       	</div>

			       	<div class="day_check">
	       				<label>Tue</label>
			       		<input type="checkbox" name="Tue" id="Tue" class="form-control" style="width:3vw;">
			       	</div>

			       	<div class="day_check">
	       				<label>Wed</label>
			       		<input type="checkbox" name="Wed" id="Wed" class="form-control" style="width:3vw;">
			       	</div>

			       	<div class="day_check">
	       				<label>Thu</label>
			       		<input type="checkbox" name="Thu" id="Thu" class="form-control" style="width:3vw;">
			       	</div>

			       	<div class="day_check">
	       				<label>Fri</label>
			       		<input type="checkbox" name="Fri" id="Fri" class="form-control" style="width:3vw;">
			       	</div>

			       	<div class="day_check">
	       				<label>Sat</label>
			       		<input type="checkbox" name="Sat" id="Sat" class="form-control" style="width:3vw;">
			       	</div>

			       	<div class="day_check">
	       				<label>Sun</label>
			       		<input type="checkbox" name="Sun" id="Sun" class="form-control" style="width:3vw;">
			       	</div>
				</div>


		      </div>

		      <!-- Modal footer -->
		      <div class="modal-footer">
		      	<button type="button" id="btnSubmit" class="btn btn-info" >Add</button>
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		      </div>

		    </div>
		  </div>
		</div>
		<script>
			$(document).ready(function(){
				$("#btn_chart").val(localStorage.getItem("btn_value"));
				$("#btnSubmit").click(function(){
					let habit = $("#habit").val();
					let time = $("#Time").val();
					let Mon = $("#Mon").is(':checked');
					let Tue = $("#Tue").is(':checked');
					let Wed = $("#Wed").is(':checked');
					let Thu = $("#Thu").is(':checked');
					let Fri = $("#Fri").is(':checked');
					let Sat = $("#Sat").is(':checked');
					let Sun = $("#Sun").is(':checked');
					$.ajax({
						url: 'addhabit/',
						method: 'POST',
						data:{
							habit: habit,
							Time: time,
							Mon: Mon,
							Tue: Tue,
							Wed: Wed,
							Thu: Thu,
							Fri: Fri,
							Sat: Sat,
							Sun:Sun,
						},
						success: function(result){
							document.location = "/habit/";
						}
					});
				});
				$("#btn_home").click(function(){
						$("#btn_home").val(localStorage.getItem("btn_value"));
						document.location = "/habit/";
						return;

				});
				$("#btn_chart").click(function(){
					let btn_value =  $("#btn_chart").val();
					localStorage.setItem("btn_value", btn_value);
					if(localStorage.getItem("btn_value") == "View Chart"){
						localStorage.setItem("btn_value", "View Table");
						$("#btn_chart").val(localStorage.getItem("btn_value"));
						document.location = "chartshow/";
						return;
					}
					else{
						localStorage.setItem("btn_value", "View Chart");
						$("#btn_chart").val(localStorage.getItem("btn_value"));
						document.location = "/habit/";
						return;
					}
				});

			});
		</script>
	</body>
</html>
