{% extends "habit_show.html" %}
{% block content %}

<div>
	<table class="table table-striped" id="tbl_habit">
		<thead>
			<tr>
				<th>Habit</th>
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
				<th>Sat</th>
				<th>Sun</th>
				<th>Time</th>
				<th>View/Edit</th>
			</tr>
		</thead>
		<tbody>
			{% for habi in habit %}

				<tr>
					<form method="post" action="edithabit/">
						<input type="hidden" name="EditID" id="EditID" value={{habi.habit}}>
						<td>{{ habi.habit }}</td>
						{% if habi.Mon == 'true' %}
						<td>
							<ion-icon name="checkmark" class="checkmark"></ion-icon>
						</td>
						{% else %}
						<td>
							<ion-icon name="close-circle"></ion-icon>
						</td>
						{% endif %}

						{% if habi.Tue == 'true' %}
						<td>
							<ion-icon name="checkmark" class="checkmark"></ion-icon>
						</td>
						{% else %}
						<td>
							<ion-icon name="close-circle" class="checkmark"></ion-icon>
						</td>
						{% endif %}

						{% if habi.Wed == 'true' %}
						<td>
							<ion-icon name="checkmark" class="checkmark"></ion-icon>
						</td>
						{% else %}
						<td>
							<ion-icon name="close-circle" class="checkmark"></ion-icon>
						</td>
						{% endif %}

						{% if habi.Thu == 'true' %}
						<td>
							<ion-icon name="checkmark" class="checkmark"></ion-icon>
						</td>
						{% else %}
						<td>
							<ion-icon name="close-circle" class="checkmark"></ion-icon>
						</td>
						{% endif %}

						{% if habi.Fri == 'true' %}
						<td>
							<ion-icon name="checkmark" class="checkmark"></ion-icon>
						</td>
						{% else %}
						<td>
							<ion-icon name="close-circle" class="checkmark"></ion-icon>
						</td>
						{% endif %}

						{% if habi.Sat == 'true' %}
						<td>
							<ion-icon name="checkmark" class="checkmark"></ion-icon>
						</td>
						{% else %}
						<td>
							<ion-icon name="close-circle" class="checkmark"></ion-icon>
						</td>
						{% endif %}

						{% if habi.Sun == 'true' %}
						<td>
							<ion-icon name="checkmark" class="checkmark"></ion-icon>
						</td>
						{% else %}
						<td>
							<ion-icon name="close-circle" class="checkmark"></ion-icon>
						</td>
						{% endif %}
						<td>{{ habi.Time}}</td>
						<td><button type="submit" class="btn btn-info" style="color:white;">View/Edit</button></td>
					</form>
				</tr>

			{% endfor %}
		</tbody>
	</table>
</div>
<script>
	$(document).ready(function(){
		$(".checkmark").click(function(){
			let icon_state = $(this).attr('name');
			if(icon_state == "checkmark")
				$(this).attr('name', 'close-circle');
			else
				$(this).attr('name', 'checkmark');
		});
	});
</script>
{% endblock %}
